html{
   width:100%;
   height:100%;
}
body{
   overflow-x: hidden;
}

/* background en lettertype voor alle paginas */
#bodyIndex,#bodyZonvakantie,#bodyWintersport,#bodyGastenPagina{
   background-image: url("../images/background.png");

   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 90% 100%;   
   
   
 font-size: 1.5em;
   font-family: Times;
}

#bodyContacPagina{
 background-image: url("../images/background.png");

 background-attachment: fixed;
 background-position: top;
 background-repeat: no-repeat;
 background-size: 90% 85%;

 font-size: 1.5em;
 font-family: Times;
}

#bodyAuto{
 background-image: url("../images/background.png");

 background-attachment: fixed;
 background-position: top;
 background-repeat: no-repeat;
 background-size: 90% 65%;

 font-size: 1.5em;
 font-family: Times;
}

/*start home page eerste section*/
.top-block-section{
   background-color: #3498db;
   color: white;
}

/* einde eerste section */

/* section 2 index */
#indexSection2{
   text-align: center;
   /* color: white; */
}

.indexPics{
   width: 200px;
}
/* einde section 2 */

/* complete footer */
 footer {
    color: darkgray;
    float: left;
    width: 100%;
 }

 .topFooter{
    background: rgb(53,58,64);
    padding-top: 1.2em;
    padding-bottom: 0.6em;
 }

 .bottomFooter{
    background-color: #3498db;
    text-align: center;
    color: black;
 }
 .footer img{
    position:absolute;
    right:0%;

 }
 .topfooter .row img{
   position:absolute;
   right:0%;

}
 /* einde footer */
 .wrapper {
   display: flex;
   align-items: row;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
 }

 #registreerForm {
   margin:5%; 
}

 #inlogForm {
   margin:5%;
   height: fit-content;
}

input[type=text]:focus, textarea:hover {
   outline: none;
   box-shadow: 0 0 5px rgb(0, 0, 0);
 }

#registratieKnop a:hover {
   opacity: 0.7;
   filter: alpha(opacity=40);
   font-size: 3.2rem;
   background-image: linear-gradient(to bottom, hsl(0,80%,50%), #bada55);
}

 label {
    font-size: 1.2em;
 }

 .formContent {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   background: #fff;
   padding: 30px;
   width: 90%;
   max-width: 450px;
   position: relative;
   padding: 0px;
   text-align: center;
   border:solid black;
   background-color:#3498db;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
 }
 h2.actief {
   color: #0d0d0d;
   border-bottom: 2px solid black;
   padding-bottom: 1.5%;
 }

 #icon {
   width:30%;
 }

 .sendKnop {
    margin-bottom:3%;
 }
#loginpage{
margin-left:0%;
}
/* #registreerpage{
   margin-right:0%; 3498db
} */