html {
   width: 100%;
   height: 100%;

}

body {
   overflow-x: hidden;
}

/* background en lettertype voor alle paginas */
#bodyIndex,
#bodyZonvakantie,
#bodyWintersport,
#bodyGastenPagina {
   background-image: url("../images/background_image.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: 90% 100%;
   font-size: 1.5em;
   font-family: Times;
}

#bodyContacPagina {
   background-image: url("../images/background.png");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: 90% 85%;

   font-size: 1.5em;
   font-family: Times;
}

#bodyAuto {
   background-image: url("../images/background.png");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: 90% 65%;

   font-size: 1.5em;
   font-family: Times;
}

/*start home page eerste section*/
.top-block-section {
   background-color: #3498db;
   color: white;
}

/* einde eerste section */

/* section 2 index */
#indexSection2 {
   text-align: center;
   /* color: white; */
}

.indexPics {
   width: 200px;
}

.index_Background {
   background-color: rgba(221, 220, 220, 0.938);
}

/* einde section 2 */

/* complete footer */
footer {
   color: darkgray;
   float: left;
   width: 100%;
}

.topFooter {
   background: rgb(53, 58, 64);
   padding-top: 1.2em;
   padding-bottom: 0.6em;

}

.bottomFooter {
   background-color: #3498db;
   text-align: center;
   color: black;
}

.footer img {
   position: absolute;
   right: 0%;

}

.topfooter .row img {
   position: absolute;
   right: 0%;

}

/* einde footer */
.wrapper {
   display: flex;
   align-items: row;
   flex-direction: row;
   justify-content: center;
   width: 100%;
   min-height: 100%;
   padding: 20px;
}

#registreerForm {
   margin: 5%;
}

#inlogForm {
   margin: 5%;
   height: fit-content;
}

label {
   font-size: 1.2em;
}

.formContent {
   -webkit-border-radius: 10px 10px 10px 10px;
   border-radius: 10px 10px 10px 10px;
   background: #fff;
   padding: 30px;
   width: 90%;
   max-width: 450px;
   position: relative;
   padding: 0px;
   text-align: center;
   border: solid black;
   background-color: #3498db;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

h2.actief {
   color: #0d0d0d;
   border-bottom: 2px solid black;
   padding-bottom: 1.5%;
}

#icon {
   width: 30%;
}

.sendKnop {
   margin-bottom: 3%;
}

#loginpage {
   margin-left: 0%;
}

/* #registreerpage{
   margin-right:0%;
} */


.accordion_one .panel-group {
   border: 1px solid #f1f1f1;
   margin-top: 100px
}

a:link {
   text-decoration: none
}

.accordion_one .panel {
   background-color: transparent;
   box-shadow: none;
   border-bottom: 0px solid transparent;
   border-radius: 0;
   margin: 0
}

.accordion_one .panel-default {
   border: 0
}

.accordion-wrap .panel-heading {
   padding: 0px;
   border-radius: 0px
}

h4 {
   font-size: 18px;
   line-height: 24px
}

.accordion_one .panel .panel-heading a.collapsed {
   color: #999999;
   display: block;
   padding: 12px 30px;
   border-top: 0px
}

.accordion_one .panel .panel-heading a {
   display: block;
   padding: 12px 30px;
   background: #fff;
   color: #313131;
   border-bottom: 1px solid #f1f1f1
}

.accordion-wrap .panel .panel-heading a {
   font-size: 14px
}

.accordion_one .panel-group .panel-heading+.panel-collapse>.panel-body {
   border-top: 0;
   padding-top: 0;
   padding: 25px 30px 30px 35px;
   background: #fff;
   color: #999999
}

.img-accordion {
   width: 81px;
   float: left;
   margin-right: 15px;
   display: block
}

.accordion_one .panel .panel-heading a.collapsed:after {
   content: "\2b";
   color: #999999;
   background: #f1f1f1
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {

   font-size: 15px;
   width: 36px;
   line-height: 48px;
   text-align: center;
   background: #F1F1F1;
   float: left;
   margin-left: -31px;
   margin-top: -12px;
   margin-right: 15px
}

.accordion_one .panel .panel-heading a:after {
   content: "\2212"
}

.accordion_one .panel .panel-heading a:after,
.accordion_one .panel .panel-heading a.collapsed:after {

   font-size: 15px;
   width: 36px;
   height: 48px;
   line-height: 48px;
   text-align: center;
   background: #F1F1F1;
   float: left;
   margin-left: -31px;
   margin-top: -12px;
   margin-right: 15px
}

.FAQ_Background {

   background-image: url("../images/beach3.jpg");
   background-repeat: no-repeat;
   background-position: left;
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;

}

.faqFooterFix {
   position: absolute;
   bottom: -70%;
   width: 100%;
   height: 2.5rem;
}

.card-body {
   font-size: 0.9rem;
}

.header2 {
   width: 100%;
   height: 30%;
   background-color: rgb(197, 213, 225);
   display: flex;
}

.header2 h1 {
   margin: 0 auto;
   font-size: 4em;
   color: white;
}

.header_faq {
   text-align: center;
   width: 100%;
   height: 30%;
   background-color: rgb(197, 213, 225);
   display: flex;
}

.header_faq h1 {
   margin: 0 auto;
   font-size: 4em;
   color: white;

}

.faq_height {
   margin-top: 5%;
}

.form {
   width: 10%;
   height: 10%;
   background-color: green;
   position: relative;
}

.Contact_Background {
   background-image: url("../images/beach2.jpg");
   background-repeat: no-repeat;
   background-position: center;
   width: 100%;
   margin: 0px;
   padding: 0px;
   overflow-x: hidden;
}

.contact_toptext {
   text-align: center;
   margin-left: -50%;
}



#bookingForm {
   margin-right: 60%;
   margin-left: 0%;
}

.buttonContact {
   background-color: blue;
   color: white;
   width: 60%;
   margin-left: 5%;
}

@media only screen and (min-width: 360px) {

   .boekingen_Button {
      background-color: blue;
      color: white;
      width: 140%;
      margin-left: 5%;
   }
}


.contact_footer {
   position: absolute;
   padding-top: 100px;
   bottom: 0;
   width: 100%;
   height: 60px;

}

#contact_naam,
#contact_onderwerp,
#contact_email {
   width: 60%;
}

.contactArea {
   width: 80%;
   resize: vertical;
   padding: 15px;
   border-radius: 15px;
   border: 0;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
   height: 150px;
   resize: none;
}

.contactInput {
   box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
   border-radius: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 80%;
}

.buttonContact {
   appearance: none;
   -webkit-appearance: none;
   padding: 10px;
   border: none;
   background-color: blue;
   color: #fff;
   font-weight: 600;
   border-radius: 5px;
   width: 60%;
   margin-bottom: 5%;
}

.assortiment_footer {
   position: absolute;
   margin-top: 0%;
}

.assortiment_front_page {
   width: 20%;
   height: 40%;
   background-color: #F1F1F1;
   position: absolute;
}

input[type=text]:focus,
textarea:hover {
   outline: none;
   box-shadow: 0 0 5px rgb(0, 0, 0);
}

input[type=password]:focus,
textarea:hover {
   outline: none;
   box-shadow: 0 0 5px rgb(0, 0, 0);
}

input[type=email]:focus,
textarea:hover {
   outline: none;
   box-shadow: 0 0 5px rgb(0, 0, 0);
}

#registratieKnop a:hover {
   opacity: 0.7;
   filter: alpha(opacity=40);
   font-size: 3.2rem;
   background-image: linear-gradient(to bottom, hsl(0, 80%, 50%), #bada55);
}

.Review_Background {
   background-image: url("../images/background_image.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: 100% 100%;
   width: 100%;
   height: 100%;
   margin-top: 0;
   margin-left: 0;
}

.Reviewheader {
   text-align: center;
   width: 100%;
   background-color: rgb(197, 213, 225);
}

.Reviewheader h1 {
   margin: 0 auto;
   font-size: 4em;
   color: white;
}

.review-form {

   margin-top: 3%;
   height: min-content;
   width: 40%;
   margin-left: 30%;
   background-color: rgba(255, 255, 255, 0.575);
   padding-left: 5%;
   padding-right: 5%;
   text-align: center;
}


.ReviewFooter {
   width: 100%;
   position: relative;
}


.input {
   box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
   border-radius: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 80%;

}

.textarea {
   width: 100%;
   resize: vertical;
   padding: 15px;
   border-radius: 15px;
   border: 0;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
   height: 150px;
   resize: none;
}

.select {
   width: 50%;
}

.selection_show {
   width: 100%;
   padding: 10px;
   border-radius: 10px;
}

.buttonReview {

   appearance: none;
   -webkit-appearance: none;
   padding: 10px;
   border: none;
   background-color: blue;
   color: #fff;
   font-weight: 600;
   border-radius: 5px;
   width: 30%;
   margin-bottom: 5%;
   margin-left: 5%;

}

.assortiment-first-image {
   float: left;
   position: relative;
   width: 40%;
   padding-bottom: 25%;
   /* = width for a 1:1 aspect ratio */
   margin: 1.66%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}

.assortiment-first-text {
   float: left;
   position: relative;
   width: 80%;
   padding-bottom: 3.5%;
   margin: 1.66%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #F1F1F1;
   font-size: 100%;
   margin-left: -10%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.assortiment-second-text {
   float: left;
   position: relative;
   width: 40%;
   padding-bottom: 3.5%;
   margin: 1.66%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #F1F1F1;
   font-size: 100%;
   padding-right: 5%;
   margin-left: -0.5%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

@media only screen and (max-width: 800px) {

   body .assortiment-first-text {
      font-size: 0.4em;

   }

   body .assortiment-second-text {
      font-size: 0.4em;

   }

}

@media only screen and (max-width: 700px) {
   .img_1-1 {
      background-image: url('../images/Spanje.png');
      width: 80%;
      height: 96%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
   }
}


.img_1-1 {
   background-image: url('../images/Spanje.png');
   width: 80%;
   height: 96%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_1-2 {
   background-image: url('../images/spanje2.jpg');
   width: 45%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);

}

.img_4-1 {
   background-image: url('../images/egypte.png');
   width: 80%;
   height: 96%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_4-2 {
   background-image: url('../images/egypte2.jpg');

   width: 50%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_5-1 {
   background-image: url('../images/frankrijk.png');
   width: 80%;
   height: 96%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_5-2 {
   background-image: url('../images/egypte2.jpg');
   width: 40%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
   margin-left: 5%;

}

.img_2-1 {
   background-image: url('../images/turkije.png');
   width: 80%;
   height: 96%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_2-2 {
   background-image: url('../images/turkije1-2.jpg');
   margin-left: 10%;
   width: 45%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_3-1 {
   background-image: url('../images/turkije2.png');
   width: 80%;
   height: 90%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.img_3-2 {
   background-image: url('../images/turkije3-2.jpg');
   width: 45%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.selection_show {
   width: 100%;
}

@media only screen and (min-width: 800px) {

   .selection_show .col-md-4 {
      width: 25%;
   }

}

#footer2 {
   position: absolute;
   margin-top: 0%;
}

.Cards {
   background-color: rgb(197, 213, 225);
   width: 20%;
   position: absolute;
   margin-left: 55%;
   margin-top: 5%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   height: min-content;
}

@media only screen and (max-width: 800px) {
   .Cards {
      width: 30%;
      font-size: 0.5em;
   }
}


.card_header {
   text-align: center;
}

#autos #auto_prijs {
   background-color: rgb(197, 213, 225);
}

#autos {
   width: 50%;
}

.jumbotron {
   background-image: url("../images/header_background.jpg");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;

}

.info {

   height: min-content;
   background-color: rgb(197, 213, 225);
   width: 40%;
   position: relative;
   margin-left: 10%;
   font-size: 0, 5em;

}

@media only screen and (min-width: 800px) {
   .info {
      font-size: 0, 5em;
   }


}

.assortiment body {
   background-image: url("../images/background_image.png");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;

}

.assortiment-first-text,
.assortiment-second-text {
   background-color: rgb(197, 213, 225, 0.5);
}

.jumbotron {
   background-color: rgb(197, 213, 225, 0.5);
}


#logout_li {
   margin-left: 85%;
   position: absolute
}

@media only screen and (max-width: 930px) {

   #logout_li {
      margin-left: 80%;
      position: absolute
   }

}

@media only screen and (max-width: 916px) {

   #boekingenTable,
   td,
   th {
      border: 1px solid black;
      background-color: rgba(255, 255, 255, 0.575);
      width: 100%;
      font-size: xx-small;
   }

   #aantal_Dagen,
   #aantal_tickets_bus,
   #aantal_volwassenen,
   #aantal_kinderen {
      width: 60%;
   }

}


#boekingenTable,
td,
th {
   border: 1px solid black;
   background-color: rgba(255, 255, 255, 0.575);
   width: 100%;
}



#activatieFooter {
   position: absolute;
   bottom: 0;
   /* .prijzen {
   background-color: rgb(197, 213, 225);
} */
}

.boekingen_Button {
   appearance: none;
   -webkit-appearance: none;
   padding: 10px;
   border: none;
   background-color: blue;
   color: #fff;
   font-weight: 600;
   border-radius: 5px;
   width: 80%;
   margin-bottom: 5%;
   margin-left: 5%;

}

#tijden,
#aantal_volwassenen,
#aantal_kinderen,
#Vertrek_vliegveld {
   width: 100%;
}

.boekingen_Background {
   background-image: url("../images/beach6.jpg");
   background-position: left;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   margin-right: -5%;
}


#bookingForm {
   position: relative;
   font-family: 'Montserrat', sans-serif;
}


.col-lg-6,
h1,
h2,
#col-12,
p,
h5,
a,
h3,
h4,
#contact,
.header_faq h2,
#reviewForm,
#logout,
.assortiment-first-text,
.assortiment-second-text,
.info,
#selected,
#faqExample,
#collapseSeven,
#myTabContent {
   font-family: 'Montserrat', sans-serif;
}

#login-tab,#register-tab
{
 border: 1px solid black;
 box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
 margin-top: 0;
}

.registreer_input
{
   width: min-content;
}


#register {
   width: 40%;
   padding-left: 15%;
   border: 1px solid black;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   margin-top: 5%;
   height: fit-content;
   border-radius: 10px;
   background-color: rgba(128, 128, 128, 0.336);
   

}


@media only screen and (max-width: 900px) {
   #register {
      border: 1px solid black;
      width: 60%;
      margin-top: 5%;
      padding-left: 15%;
      font-size: small;
   }

}

#login {
   border: 1px solid black;
   width: max-content;
   margin-top: 5%;
   margin-left: 45%;
   box-shadow: 4px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
   border-radius: 10px;
   background-color: rgba(128, 128, 128, 0.336);
   
}

@media only screen and (max-width: 900px) {
   #login {
      border: 1px solid black;
      width: 60%;
      margin-top: 5%;
      margin-left: 20%;
      font-size: small;
      padding-right: 10%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   }
}

#loginKnop {
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

#registratieknop {
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   margin-left: -5%;
}

.tab-content {
   margin-left: -25%;
}

#aanmelden_footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 160px;
}

.aanmelden_tekst {
   margin-top: 5%;
}



.float-container {
   display: inline-block;
   width: 40%;
   height: 50%;
   margin-top: 3%;
   margin-left: 20%;
   margin-bottom: 3%;
   padding-left: 1%;
   padding-top: 3%;
   padding-bottom: 3%;
   padding-right: 3%;
   background-color: rgba(255, 255, 255, 0.575);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.float-child {

   float: left;
   margin-left: 15%;
}

#codeVerify {
   background-color: rgba(255, 255, 255, 0.575);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   width: 20%;
   padding-left: 3%;
   margin-top: 3%;
}

@media only screen and (min-width: 800px) {

   #changePswrd {
      background-color: rgba(255, 255, 255, 0.575);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      padding-left: 1%;
      margin-top: 5%;
      font-size: small;
      

   }

   #secCode,
   #newPswrd,
   #confPaswrd,
   #pswrdEmail {
      width: 40%;
      font-size: small;
   }

   .size {
      font-size: small;
   }

   .Passwordheader {
      text-align: center;
      width: 100%;
      background-color: rgb(197, 213, 225);
      font-size: small;
   }

}

.size {
   font-size: medium;
}

#secCode,
#newPswrd,
#confPaswrd,
#pswrdEmail {
   width: 70%;
}

#changePswrd {
   background-color: rgba(255, 255, 255, 0.575);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   padding-left: 1%;
   width: 20%;
   margin-top: 5%;
   font-size: medium;
}

#pswrdSendCode {
   background-color: rgba(255, 255, 255, 0.575);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   height: min-content;
   padding-left: 2%;
   margin-right: 5%;
   margin-top: 5%;
   width: 20%;
}

#contact {
   background-color: rgba(255, 255, 255, 0.575);
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   padding-left: 3%;
}

.password_Background {
   background-image: url("../images/beach8.jpg");
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.Passwordheader {
   text-align: center;
   width: 100%;
   background-color: rgb(197, 213, 225);
}

.Passwordheader h1 {
   color: white;
}

.activatieHeader {
   text-align: center;
   width: 100%;
   background-color: rgb(197, 213, 225);
}

.activatieHeader h1 {
   color: white;
}

.activatie_Background {
   background-image: url("../images/beach9.jpg");
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
}

.header_bg {
   text-align: center;
   width: 100%;
   background-color: rgb(197, 213, 225);
   
}

.header_bg h1 {
   color: white;
   padding-top: 1%;


}

.bg_Background
{
   background-image: url("../images/beach6.jpg");
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.table-striped {
   margin-top: 5%;
   margin-left: 25%;
   margin-bottom: 5%;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   border: 2px solid black;
   display: block !important;
   overflow-x: auto !important;
   width: min-content !important;
}

.bgFooter
{
   position:relative;
    bottom:0;
    width:100%;
    height:60px;
    margin-top:15%;

    
  
}



@media only screen and (max-width: 600px) {

   .table-striped {

      margin-top: 5%;
      margin-left: 15%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      border: 2px solid black;
      display: block !important;
      overflow-x: auto !important;
      width: min-content !important;
   }

}

.tableButton {
   background-color: rgba(255, 255, 255, 0);
   color: red;
   width: 100%;
   background: transparent;
   border: none !important;
}

.bevestigings_Background {
   background-image: url("../images/beach10.jpg");
   background-position: left;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.table-borderless {
   border: 1px solid black;
}

.btn-primary {
   margin-top: 5%;
}

.btn-secondary {
   margin-top: 2%;
}

.account_verwijderen {
   background-color: rgba(255, 255, 255, 0.76);
   margin-top: 10%;
   margin-left: 40%;
   width: 20%;
   border: 1px solid black;
   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
   padding-bottom: 1%;

}

.Account_Background {
   background-image: url("../images/beach11.jpeg");
   background-position: center;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: 100% 100%;
}

.Account_verwijderen_Header {
   text-align: center;
   width: 100%;
   background-color: rgb(197, 213, 225);
}

.Account_verwijderen_Header h1 {
   margin: 0 auto;
   font-size: 4em;
   color: white;
   padding-top: 1%;
}

.opmaakError {
   color: red;
}